<h2 style="text-align:center;">Electric Vehicle Data Analysis Project</h2>

<h3 style="text-align:center;">Python-Final Project</h3>

---

<h4>Task 1: A customer has a budget of 350,000 PLN and wants an EV with a minimum range of 400 km.</h4>

a. Your task is to filter out EVs that meet these criteria.

b. Group them by the manufacturer (Make).

c. Calculate the average battery capacity for each manufacturer.

---

<h4>a. Your task is to filter out EVs that meet these criteria.</h4>

**Step 1: Import Required Libraries**

We are use Pandas for data manipulation and filtering.

In [13]:
import pandas as pd
import warnings

# Suppress all DeprecationWarnings
warnings.simplefilter("ignore", category=DeprecationWarning)

**Step 2: Load the Dataset**

We are load the dataset into a Pandas DataFrame for analysis.

In [14]:
# Define the dataset as a dictionary
data = pd.read_csv('auta_elektryczne_cleaned.csv')

# Convert the dictionary to a Pandas DataFrame
df = pd.DataFrame(data)

**Step 3: Filter the Dataset**

We are filter the dataset based on the customer's criteria:

1. **Budget**: Minimal price ≤ 350,000 PLN.
2. **Range**: Range (WLTP) ≥ 400 km.

In [15]:
# Filter the DataFrame
filtered_df = df[
    (df["Minimal price (gross) [PLN]"] <= 350000) &
    (df["Range (WLTP) [km]"] >= 400)
]

# Display the filtered results
print(filtered_df[["Car full name", "Make", "Model", 
                   "Minimal price (gross) [PLN]", 
                   "Range (WLTP) [km]"]])

                        Car full name           Make  \
0              Audi e-tron 55 quattro           Audi
8                             BMW iX3            BMW
15        Hyundai Kona electric 64kWh        Hyundai
18                   Kia e-Niro 64kWh            Kia
20                   Kia e-Soul 64kWh            Kia
22                  Mercedes-Benz EQC  Mercedes-Benz
39  Tesla Model 3 Standard Range Plus          Tesla
40           Tesla Model 3 Long Range          Tesla
41          Tesla Model 3 Performance          Tesla
47    Volkswagen ID.3 Pro Performance     Volkswagen
48              Volkswagen ID.3 Pro S     Volkswagen
49                Volkswagen ID.4 1st     Volkswagen

                          Model  Minimal price (gross) [PLN]  \
0             e-tron 55 quattro                       345700
8                           iX3                       282900
15          Kona electric 64kWh                       178400
18                 e-Niro 64kWh                       167990
20                 e-Soul 64kWh                       160990
22                          EQC                       334700
39  Model 3 Standard Range Plus                       195490
40           Model 3 Long Range                       235490
41          Model 3 Performance                       260490
47         ID.3 Pro Performance                       155890
48                   ID.3 Pro S                       179990
49                     ID.4 1st                       202390

    Range (WLTP) [km]
0                 438
8                 460
15                449
18                455
20                452
22                414
39                430
40                580
41                567
47                425
48                549
49                500

---

<h4> b. Group them by the manufacturer (Make). </h4>

**Step 1: Import Required Libraries**

We are use Pandas for data manipulation and filtering.

In [16]:
import pandas as pd

**Step 2: Load the Dataset**

We are load the dataset into a Pandas DataFrame for analysis.

In [17]:
# Define the dataset as a dictionary
data = pd.read_csv('auta_elektryczne_cleaned.csv')

# Convert the dictionary to a Pandas DataFrame
df = pd.DataFrame(data)

**Step 3: Filter the Dataset**

We are filter the dataset based on the customer's criteria:

1. **Budget**: Minimal price ≤ 350,000 PLN.
2. **Range**: Range (WLTP) ≥ 400 km.

In [18]:
# Filter the DataFrame
filtered_df = df[
    (df["Minimal price (gross) [PLN]"] <= 350000) &
    (df["Range (WLTP) [km]"] >= 400)
]

# Display the filtered results
print(filtered_df[["Car full name", "Make", "Model", 
                   "Minimal price (gross) [PLN]", 
                   "Range (WLTP) [km]"]])

                        Car full name           Make  \
0              Audi e-tron 55 quattro           Audi
8                             BMW iX3            BMW
15        Hyundai Kona electric 64kWh        Hyundai
18                   Kia e-Niro 64kWh            Kia
20                   Kia e-Soul 64kWh            Kia
22                  Mercedes-Benz EQC  Mercedes-Benz
39  Tesla Model 3 Standard Range Plus          Tesla
40           Tesla Model 3 Long Range          Tesla
41          Tesla Model 3 Performance          Tesla
47    Volkswagen ID.3 Pro Performance     Volkswagen
48              Volkswagen ID.3 Pro S     Volkswagen
49                Volkswagen ID.4 1st     Volkswagen

                          Model  Minimal price (gross) [PLN]  \
0             e-tron 55 quattro                       345700
8                           iX3                       282900
15          Kona electric 64kWh                       178400
18                 e-Niro 64kWh                       167990
20                 e-Soul 64kWh                       160990
22                          EQC                       334700
39  Model 3 Standard Range Plus                       195490
40           Model 3 Long Range                       235490
41          Model 3 Performance                       260490
47         ID.3 Pro Performance                       155890
48                   ID.3 Pro S                       179990
49                     ID.4 1st                       202390

    Range (WLTP) [km]
0                 438
8                 460
15                449
18                455
20                452
22                414
39                430
40                580
41                567
47                425
48                549
49                500

**Step 4: Group by Manufacturer**

We are group the filtered results by the manufacturer (Make) to see which manufacturers offer EVs that meet the customer's requirements

In [19]:
# Sample: Filtered DataFrame (Ensure 'filtered_df' is already created)
grouped_df = filtered_df.groupby("Make")  # Group by "Make"

# Combine grouped data into a new DataFrame
grouped_results = grouped_df.apply(lambda x: x[["Car full name", "Model", 
                                                "Minimal price (gross) [PLN]", 
                                                "Range (WLTP) [km]"]])

# Reset the index to avoid multi-level indexing
grouped_results = grouped_results.reset_index(drop=True)

# Display the DataFrame
print(grouped_results)

                        Car full name                        Model  \
0              Audi e-tron 55 quattro            e-tron 55 quattro
1                             BMW iX3                          iX3
2         Hyundai Kona electric 64kWh          Kona electric 64kWh
3                    Kia e-Niro 64kWh                 e-Niro 64kWh
4                    Kia e-Soul 64kWh                 e-Soul 64kWh
5                   Mercedes-Benz EQC                          EQC
6   Tesla Model 3 Standard Range Plus  Model 3 Standard Range Plus
7            Tesla Model 3 Long Range           Model 3 Long Range
8           Tesla Model 3 Performance          Model 3 Performance
9     Volkswagen ID.3 Pro Performance         ID.3 Pro Performance
10              Volkswagen ID.3 Pro S                   ID.3 Pro S
11                Volkswagen ID.4 1st                     ID.4 1st

    Minimal price (gross) [PLN]  Range (WLTP) [km]
0                        345700                438
1                        282900                460
2                        178400                449
3                        167990                455
4                        160990                452
5                        334700                414
6                        195490                430
7                        235490                580
8                        260490                567
9                        155890                425
10                       179990                549
11                       202390                500

---

<h4>c. Calculate the average battery capacity for each manufacturer.</h4>

**Step 1: Import Required Libraries**

We are use Pandas for data manipulation and filtering.

In [20]:
import pandas as pd

**Step 2: Load the Dataset**

We are load the dataset into a Pandas DataFrame for analysis.

In [21]:
# Define the dataset as a dictionary
data = pd.read_csv('auta_elektryczne_cleaned.csv')

# Convert the dictionary to a Pandas DataFrame
df = pd.DataFrame(data)

**Step 3: Filter the Dataset**

We are filter the dataset based on the customer's criteria:

1. **Budget**: Minimal price ≤ 350,000 PLN.
2. **Range**: Range (WLTP) ≥ 400 km.

In [22]:
# Filter the DataFrame
filtered_df = df[
    (df["Minimal price (gross) [PLN]"] <= 350000) &
    (df["Range (WLTP) [km]"] >= 400)
]

# Display the filtered results
print(filtered_df[["Car full name", "Make", "Model", 
                   "Minimal price (gross) [PLN]", "Range (WLTP) [km]", 
                   "Battery capacity [kWh]"]])

                        Car full name           Make  \
0              Audi e-tron 55 quattro           Audi
8                             BMW iX3            BMW
15        Hyundai Kona electric 64kWh        Hyundai
18                   Kia e-Niro 64kWh            Kia
20                   Kia e-Soul 64kWh            Kia
22                  Mercedes-Benz EQC  Mercedes-Benz
39  Tesla Model 3 Standard Range Plus          Tesla
40           Tesla Model 3 Long Range          Tesla
41          Tesla Model 3 Performance          Tesla
47    Volkswagen ID.3 Pro Performance     Volkswagen
48              Volkswagen ID.3 Pro S     Volkswagen
49                Volkswagen ID.4 1st     Volkswagen

                          Model  Minimal price (gross) [PLN]  \
0             e-tron 55 quattro                       345700
8                           iX3                       282900
15          Kona electric 64kWh                       178400
18                 e-Niro 64kWh                       167990
20                 e-Soul 64kWh                       160990
22                          EQC                       334700
39  Model 3 Standard Range Plus                       195490
40           Model 3 Long Range                       235490
41          Model 3 Performance                       260490
47         ID.3 Pro Performance                       155890
48                   ID.3 Pro S                       179990
49                     ID.4 1st                       202390

    Range (WLTP) [km]  Battery capacity [kWh]
0                 438                    95.0
8                 460                    80.0
15                449                    64.0
18                455                    64.0
20                452                    64.0
22                414                    80.0
39                430                    54.0
40                580                    75.0
41                567                    75.0
47                425                    58.0
48                549                    77.0
49                500                    77.0

**Step 4: Group by Manufacturer and Calculate Average Battery Capacity**

We are group the filtered results by the manufacturer (Make) and calculate the average battery capacity for each manufacturer.

In [23]:
# Group the filtered DataFrame by "Make" and calculate the average battery capacity
average_battery_capacity = (
    filtered_df.groupby("Make")["Battery capacity [kWh]"]
    .mean()
    .reset_index()
)

# Rename the columns for clarity
average_battery_capacity.columns = ["Manufacturer", 
                                    "Average Battery Capacity [kWh]"]

# Display the results
print("\nAverage Battery Capacity by Manufacturer:")
print(average_battery_capacity)

Average Battery Capacity by Manufacturer:
    Manufacturer  Average Battery Capacity [kWh]
0           Audi                       95.000000
1            BMW                       80.000000
2        Hyundai                       64.000000
3            Kia                       64.000000
4  Mercedes-Benz                       80.000000
5          Tesla                       68.000000
6     Volkswagen                       70.666667

---